<!DOCTYPE html>
<html lang="en">
 {{>header}}
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <img src = "img/robot.jpg" class = "about"/>
            </div>
            <div class = "col-sm-6">
                <h1 class = "text-center color"> {{ title }} </h1>
                <p>This is the About Us Page</div></p>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</body>
<footer>
    {{>footer}}
</footer>
</html>